<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- SEARCH FORM -->
                <div class="form-inline">
                    <!-- col-md-12 -->
                    <div class="input-group col-md-12" v-if="$gate.isAdmin()">
                        <input class="form-control" @keyup="searchit_post" v-model="search_post" type="search" placeholder="Search Post" aria-label="Search" id="search">
                        <button class="btn btn-danger btn-sm" @click="clearInput">X</button>
                    </div>
                    <!-- col-md-10 -->
                    <div class="input-group col-md-10" v-else>
                        <input class="form-control" @keyup="searchit_post" v-model="search_post" type="search" placeholder="Search Post" aria-label="Search" id="search">
                        <button class="btn btn-danger btn-sm" @click="clearInput">X</button>
                    </div>
                    <div class="input-group-append" v-if="!$gate.isAdmin()">
                        <button class="btn btn-success" @click="NewModal">Add New Post <i class="fas fa-pencil-alt fa-fw"></i></button>
                    </div>
                </div>
                <br>
                <div v-if='!PostsEmpty()'>
                    <div class="card" v-for="post in posts.data" :key="post.id">
                        <div class="card-header bg-dark">{{ post.title | capText }}
                            <div class="float-right">
                            <a href="#" @click="EditModal(post)" v-if="$gate.isAuthUserNoAdmin(post.author_id)">
                                <i class="fa fa-edit text-primary"></i>
                            </a>
                            <a href="#" @click="deletePost(post.id)" v-if="$gate.isAuthUser(post.author_id)">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                            </div>
                        <br>by: {{ post.name | upText }}
                        </div>

                        <div class="card-body">
                            {{ post.body }}
                        </div>
                        <div class="card-footer bg-dark">{{ post.created_at | myDateTime }}</div>
                    </div>
                </div>
                <div v-else class="card-body bg-dark" align="center">NO POSTS</div>
                <pagination class="float-right" :data="posts" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
<!-- Modal -->
<div class="modal fade" id="AddNew" tabindex="-1" role="dialog" aria-labelledby="AddNewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 v-show="!editmode" class="modal-title" id="AddNewLabel">Add User</h5>
        <h5 v-show="editmode" class="modal-title" id="AddNewLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form @submit.prevent="editmode ? updatePost() : createPost()">
      <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Title" class="form-control" v-model="form.title" name="title" :class="{ 'is-invalid': form.errors.has('title') }">
            <has-error :form="form" field="title"></has-error>
        </div>

        <div class="form-group">
            <textarea placeholder="Body" class="form-control" v-model="form.body" name="body" :class="{ 'is-invalid': form.errors.has('body') }"></textarea>
            <has-error :form="form" field="body"></has-error>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                posts: {},
                data: {
                    search_post: ''
                },
                form: new Form({
                    id: "",
                    authorid: "",
                    title: "",
                    body: ""
                })
            }
        },
        methods: {
            // --> DEBOUNCE WAITS FOR 0.5 SECONDS TO EMIT FUNCTION
            searchit_post: _.debounce(() =>{
                Fire.$emit('searching_post');
            },500),
            getResults(page = 1) {
                axios.get('api/post?page=' + page)
                .then(response => {
                    this.posts = response.data;
                });
            },
            PostsEmpty() {
                return _.isEmpty(this.posts.data);
            },
            clearInput()  {
                this.loadPosts();
                this.search_post = '';
                document.getElementById('search').value = '';
            },
            NewModal(){
                this.editmode = false;
                this.form.reset();
                $('#AddNew').modal('show');
            },
            EditModal(post){
                this.editmode = true;
                this.form.reset();
                $('#AddNew').modal('show');
                this.form.fill(post);
            },
            loadPosts(){
                axios.get("api/post").then(({data}) => (this.posts = data));
            },

            createPost(){
                this.$Progress.start();

                this.form.post('api/post')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#AddNew').modal('hide');
                    this.form.reset();
                    Swal.fire({
                      position: 'top-end',
                      type: 'success',
                      title: 'User has been added',
                      showConfirmButton: false,
                      timer: 3000
                    })
                    this.$Progress.finish();
                })
                .catch(() => {

                });
            },
            updatePost(id){
                this.$Progress.start();
                this.form.put('api/post/'+this.form.id)
                .then(() => {
                    $('#AddNew').modal('hide');
                    Swal.fire(
                      'Updated!',
                      'Your file has been updated.',
                      'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            deletePost(id){
                Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                  if (result.value) {
                      this.form.delete('api/post/'+id).then(()=>{
                            Swal.fire(
                              'Deleted!',
                              'Post has been deleted.',
                              'success'
                            )
                            Fire.$emit('AfterCreate');
                      }).catch(()=>{
                        Swal.fire("Failed","There was something wrong.","warning");
                      });
                  }
                })
            }
        },
        created() {
            this.search_post = '';
            Fire.$on('searching_post',() => {
                let query = this.search_post;
                axios.get('api/findPost?q=' + query)
                .then((data) => {
                    this.posts = data.data
                })
                .catch(() => {

                })
            })
            this.loadPosts();
            Fire.$on('AfterCreate',() => {
               this.loadPosts();
            });
        }
    }
</script>
