<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="card-title">Products Table</h3>

                        <div class="card-tools">
                            <button class="btn btn-sm btn-success float-right" @click="NewModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                            <!-- SEARCH FORM -->
                            <div class="form-inline float-right">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-navbar" @keyup="searchit" v-model="search" type="search" placeholder="Search" aria-label="Search">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <tbody><tr>
                            <th>Photo</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th v-if='$gate.isAdmin()'>Seller</th>
                            <th>Modify</th>
                          </tr>
                          <tr v-for="item in items.data" :key="item.id">
                            <td width="30%" align="center"><img width="50%" :src="'/img/items/'+item.photo"></td>
                            <td>{{ item.product_code }}</td>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.name }}</td>
                            <td v-if='$gate.isAdmin()'>{{ item.price }}</td>
                            <td>
                                <a href="#" @click="EditModal(item)">
                                    <i class="fa fa-edit"></i>
                                </a>
                                /
                                <a href="#" @click="deleteItem(item.id)">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                          </tr>
                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="AddNew" tabindex="-1" role="dialog" aria-labelledby="AddNewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 v-show="!editmode" class="modal-title" id="AddNewLabel">Add Item</h5>
        <h5 v-show="editmode" class="modal-title" id="AddNewLabel">Edit Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form @submit.prevent="editmode ? updateItem() : createItem()">
      <div class="modal-body">
        <div class="form-group">
            <input v-if="editmode" type="hidden" v-model="form.id" name="id">
            <label>Product Name</label>
            <input type="text" placeholder="Name" class="form-control" v-model="form.product_name" name="name">
            <label>Product Code</label>
            <input type="text" placeholder="Product Code" class="form-control" v-model="form.product_code" name="code">
            <label>Product Price</label>
            <input type="text" placeholder="Price" class="form-control" v-model="form.price" name="price">
            <label v-if="editmode">Product Image</label>
            <br>
            <input v-if="editmode" type="file" @change="updateImage" name="photo" class="form-input">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                items: {},
                data: {
                    search: ''
                },
                form: new Form({
                    id: "",
                    product_code: "",
                    product_name: "",
                    photo: "",
                    price: ""
                })
            }
        },
        methods: {
            // --> DEBOUNCE WAITS FOR 0.5 SECONDS TO EMIT FUNCTION
            searchit: _.debounce(() =>{
                Fire.$emit('searching');
            },500),
            getItemPhoto() {
                let photo = (this.form.photo.length > 200) ? this.form.photo : "img/items/" + this.form.photo;
                console.log(this.form);
                return photo;
                //return "img/profile/" + this.form.photo;
            },
            NewModal(){
                this.editmode = false;
                this.form.reset();
                $('#AddNew').modal('show');
            },
            EditModal(item){
                this.editmode = true;
                this.form.reset();
                $('#AddNew').modal('show');
                this.form.fill(item);
            },
            loadItems(){
                axios.get("api/product").then(({data}) => (this.items = data));
            },
            createItem(){
                this.$Progress.start();

                this.form.post('api/product')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#AddNew').modal('hide');
                    this.form.reset();
                    Swal.fire({
                      position: 'top-end',
                      type: 'success',
                      title: 'User has been added',
                      showConfirmButton: false,
                      timer: 3000
                    })
                    this.$Progress.finish();
                })
                .catch(() => {

                });
            },
            updateItem(id){
                this.$Progress.start();
                console.log(this.form);
                this.form.put('api/product/'+this.form.id)
                .then(() => {
                    $('#AddNew').modal('hide');
                    Swal.fire(
                      'Updated!',
                      'Your file has been updated.',
                      'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            deleteItem(id){
                Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                  if (result.value) {
                      this.form.delete('api/product/'+id).then(()=>{
                            Swal.fire(
                              'Deleted!',
                              'Your file has been deleted.',
                              'success'
                            )
                            Fire.$emit('AfterCreate');
                      }).catch(()=>{
                        Swal.fire("Failed","There was something wrong.","warning");
                      });
                  }
                })
            },
            updateImage(e) {
                let file = e.target.files[0];
                // console.log(file);
                var reader = new FileReader();
                if(file['size'] < 2111775){
                    reader.onloadend = (file) => {
                        // console.log("RESULT", reader.result);
                        this.form.photo = reader.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You are uploading a large file',
                    })
                }
            },
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.search;
                axios.get('api/findProd?q=' + query)
                .then((data) => {
                    this.items = data.data
                })
                .catch(() => {

                })
            })
            this.search = '';
            this.loadItems();
            Fire.$on('AfterCreate',() => {
               this.loadItems();
            });
        }
    }
</script>
