<style>
    .widget-user-header {
        background-position: center center;
        background-size: cover;
    }
</style>

<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-widget widget-user">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header text-white" style="background: url('./img/lupinred.jpg') center center;">
                    <h3 class="widget-user-username">{{ form.name }}</h3>
                    <h5 class="widget-user-desc">{{ form.type | capText}}</h5>
                  </div>
                  <div class="widget-user-image">
                    <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
                  </div>
                  <div class="card-footer p-1 pt-4">
                    <div class="row">
                      <div class="col-sm-12 border-right">
                        <div class="description-block">
                          <h5 class="description-header">BIO</h5>
                          <span class="description-text">{{ form.bio }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
            <!-- SEARCH FORM -->
            <div class="form-inline">
                <div class="input-group col-md-10" v-if="!$gate.isAdmin()">
                    <input class="form-control" @keyup="searchit_post" v-model="search_post" type="search" placeholder="Search Post" aria-label="Search">
                </div>
                <div class="input-group col-md-12" v-else>
                    <input class="form-control" @keyup="searchit_post" v-model="search_post" type="search" placeholder="Search Post" aria-label="Search" id="search">
                    <button class="btn btn-danger btn-sm" @click="clearInput">X</button>
                </div>
                <div class="input-group-append" v-if="$gate.isAuthor()">
                    <button class="btn btn-success" @click="NewModal">Add New Post <i class="fas fa-pencil-alt fa-fw"></i></button>
                </div>
            </div>
            <br>
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#posts" data-toggle="tab">Posts</a></li>
                  <li class="nav-item" v-if="!$gate.isSeller()"><a class="nav-link" href="#orders" data-toggle="tab">Orders</a></li>
                  <li class="nav-item" v-else><a class="nav-link" href="#orders" data-toggle="tab">Products</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="posts">
                    <!-- Post -->
                    <div class="post">
                        <div v-if='!PostsEmpty()'>
                            <div class="card" v-for="post in posts.data" :key="post.id">
                                <div class="card-header bg-dark">{{ post.title | capText }}
                                    <div class="float-right">
                                    <a href="#" @click="EditModal(post)">
                                        <i class="fa fa-edit text-primary"></i>
                                    </a>
                                    <a href="#" @click="deletePost(post.id)">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                    </div>
                                <br>by: {{ post.name | upText }}
                                </div>

                                <div class="card-body">
                                    {{ post.body }}
                                </div>
                                <div class="card-footer bg-dark">{{ post.created_at | myDateTime }}</div>
                            </div>
                        </div>
                        <div v-else class="card-body bg-dark" align="center">NO POSTS</div>
                        <pagination class="float-right" :data="posts" @pagination-change-page="getResults"></pagination>
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->


                  <div class="tab-pane" id="orders">
                  </div>

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-12">
                          <input type="text" id="inputName" placeholder="Name" class="form-control" v-model="form.name" name="name" :class="{ 'is-invalid': form.errors.has('name') }">
                          <has-error :form="form" field="name"></has-error>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-12">
                          <input type="email" id="inputEmail" placeholder="Email Address" class="form-control" v-model="form.email" name="email" :class="{ 'is-invalid': form.errors.has('email') }">
                          <has-error :form="form" field="email"></has-error>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputBio" class="col-sm-2 control-label">Bio</label>

                        <div class="col-sm-12">
                          <textarea class="form-control" v-model="form.bio" id="inputBio" placeholder="Bio"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPhoto" class="col-sm-2 control-label">Profile Photo</label>

                        <div class="col-sm-12">
                          <input type="file" @change="updateProfile" name="photo" class="form-input">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-12">
                          <input class="form-control" v-model="form.password" id="password" placeholder="Password" type="password" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button @click.prevent="updateInfo" type="submit" class="btn btn-success">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            </div>
        </div>
<!-- Modal -->
<div class="modal fade" id="AddNew" tabindex="-1" role="dialog" aria-labelledby="AddNewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 v-show="!editmode" class="modal-title" id="AddNewLabel">Add User</h5>
        <h5 v-show="editmode" class="modal-title" id="AddNewLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form @submit.prevent="editmode ? updatePost() : createPost()">
      <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Title" class="form-control" v-model="form2.title" name="title" :class="{ 'is-invalid': form2.errors.has('title') }">
            <has-error :form="form2" field="title"></has-error>
        </div>

        <div class="form-group">
            <textarea placeholder="Body" class="form-control" v-model="form2.body" name="body" :class="{ 'is-invalid': form2.errors.has('body') }"></textarea>
            <has-error :form="form2" field="body"></has-error>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                posts: {},
                data: {
                    search_post: ''
                },
                form: new Form({
                    id: "",
                    name: "",
                    email: "",
                    password: "",
                    type: "",
                    bio: "",
                    photo: ""
                }),
                form2: new Form({
                    id: "",
                    title: "",
                    body: ""
                })
            }
        },
        methods: {
            // --> DEBOUNCE WAITS FOR 0.5 SECONDS TO EMIT FUNCTION
            searchit_post: _.debounce(() =>{
                Fire.$emit('searching_post');
            },500),
            getResults(page = 1) {
                axios.get('api/userPosts?page=' + page)
                .then(response => {
                    this.posts = response.data;
                });
            },
            PostsEmpty() {
                return _.isEmpty(this.posts.data);
            },
            clearInput()  {
                this.loadPosts();
                this.search_post = '';
                document.getElementById('search').value = '';
            },
            NewModal(){
                this.editmode = false;
                this.form2.reset();
                $('#AddNew').modal('show');
            },
            EditModal(post){
                this.editmode = true;
                this.form2.reset();
                $('#AddNew').modal('show');
                this.form2.fill(post);
            },
            getProfilePhoto() {
                let photo = (this.form.photo.length > 200) ? this.form.photo : "img/profile/" + this.form.photo;
                return photo;
                //return "img/profile/" + this.form.photo;
            },
            updateProfile(e) {
                let file = e.target.files[0];
                // console.log(file);
                var reader = new FileReader();
                if(file['size'] < 2111775){
                    reader.onloadend = (file) => {
                        // console.log("RESULT", reader.result);
                        this.form.photo = reader.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'You are uploading a large file',
                    })
                }
            },
            createPost(){
                this.$Progress.start();

                this.form2.post('api/post')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#AddNew').modal('hide');
                    this.form2.reset();
                    Swal.fire({
                      position: 'top-end',
                      type: 'success',
                      title: 'User has been added',
                      showConfirmButton: false,
                      timer: 3000
                    })
                    this.$Progress.finish();
                })
                .catch(() => {

                });
            },
            updatePost(id){
                this.$Progress.start();
                this.form2.put('api/post/'+this.form2.id)
                .then(() => {
                    $('#AddNew').modal('hide');
                    Swal.fire(
                      'Updated!',
                      'Your file has been updated.',
                      'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            updateInfo() {
                this.$Progress.start();
                this.form.put('api/profile/')
                .then(() => {
                    Swal.fire({
                      position: 'top-end',
                      type: 'success',
                      title: 'User has been added',
                      showConfirmButton: false,
                      timer: 3000
                    })
                    this.$Progress.finish();
                })
                .catch(() => {

                    this.$Progress.fail();
                });
            },
            loadPosts() {
                axios.get("api/userPosts").then(({data}) => (this.posts = data));
            },
            deletePost(id){
                Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                  if (result.value) {
                      this.form.delete('api/post/'+id).then(()=>{
                            Swal.fire(
                              'Deleted!',
                              'Post has been deleted.',
                              'success'
                            )
                            Fire.$emit('AfterCreate');
                      }).catch(()=>{
                        Swal.fire("Failed","There was something wrong.","warning");
                      });
                  }
                })
            }
        },
        created() {
            this.search_post = '';
            Fire.$on('searching_post',() => {
                let query = this.search_post;
                axios.get('api/findPost?q=' + query)
                .then((data) => {
                    this.posts = data.data
                })
                .catch(() => {

                })
            })
            axios.get("api/profile").then(({data}) => (this.form.fill(data)));
            this.loadPosts();
            Fire.$on('AfterCreate',() => {
               this.loadPosts();
            });
        }
    }
</script>
