<template>
	<div class="container">
		<div class="row" v-if="$gate.isAdmin()">
		  <div class="col-md-12">
			<div class="card">
			  <div class="card-header bg-dark">
				<h3 class="card-title">Users Table</h3>

				<div class="card-tools">
					<button class="btn btn-sm btn-success float-right" @click="NewModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
					<!-- SEARCH FORM -->
					<div class="form-inline float-right">
						<div class="input-group input-group-sm">
							<input class="form-control form-control-navbar" @keyup="searchit" v-model="search" type="search" placeholder="Search" aria-label="Search">
						</div>
					</div>
				</div>
			  </div>
			  <!-- /.card-header -->
			  <div class="card-body table-responsive p-0">
				<table class="table table-hover">
				  <tbody><tr>
					<th>ID</th>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Type</th>
					<th>Registered At</th>
					<th>Modify</th>
				  </tr>
				  <tr v-for="user in users.data" :key="user.id">
					<td>{{ user.id }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.type | upText}}</td>
					<td>{{ user.created_at | myData }}</td>
					<td>
						<a href="#" @click="EditModal(user)">
							<i class="fa fa-edit"></i>
						</a>
						/
						<a href="#" @click="deleteUser(user.id)">
							<i class="fa fa-trash text-danger"></i>
						</a>
					</td>
				  </tr>
				</tbody></table>
			  </div>
			  <!-- /.card-body -->
			  <div class="card-footer">
				<pagination class="float-right" :data="users" @pagination-change-page="getResults"></pagination>
			  </div>
			</div>
			<!-- /.card -->
		  </div>
		</div>

	<div v-if="!$gate.isAdmin()">
		<not-found></not-found>
	</div>

<!-- Modal -->
<div class="modal fade" id="AddNew" tabindex="-1" role="dialog" aria-labelledby="AddNewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header bg-dark">
		<h5 v-show="!editmode" class="modal-title" id="AddNewLabel">Add User</h5>
		<h5 v-show="editmode" class="modal-title" id="AddNewLabel">Edit User</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <form @submit.prevent="editmode ? updateUser() : createUser()">
	  <div class="modal-body">
		<div class="form-group">
			<input type="text" placeholder="Name" class="form-control" v-model="form.name" name="name" :class="{ 'is-invalid': form.errors.has('name') }">
			<has-error :form="form" field="name"></has-error>
		</div>

		<div class="form-group">
			<input type="text" placeholder="Email Address" class="form-control" v-model="form.email" name="email" :class="{ 'is-invalid': form.errors.has('email') }">
			<has-error :form="form" field="email"></has-error>
		</div>

		<div class="form-group">
			<textarea placeholder="Bio" class="form-control" v-model="form.bio" name="bio" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
			<has-error :form="form" field="bio"></has-error>
		</div>

		<div class="form-group">
			<select class="form-control" v-model="form.type" name="type" :class="{ 'is-invalid': form.errors.has('type') }">
				<option value="">Select User Role</option>
				<option value="admin">Admin</option>
				<option value="user">User</option>
				<option value="seller">Seller</option>
				<option value="author">Author</option>
			</select>
			<has-error :form="form" field="type"></has-error>
		</div>

		<div class="form-group">
			<input type="password" placeholder="Password" class="form-control" v-model="form.password" name="password" :class="{ 'is-invalid': form.errors.has('password') }">
			<has-error :form="form" field="password"></has-error>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button v-show="editmode" type="submit" class="btn btn-success">Update</button>
		<button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
	  </div>
	  </form>
	</div>
  </div>
</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				editmode: false,
				users: {},
				data: {
					search: ''
				},
				form: new Form({
					id: "",
					name: "",
					email: "",
					password: "",
					type: "",
					bio: "",
					photo: ""
				})
			}
		},
		methods: {
			// --> DEBOUNCE WAITS FOR 0.5 SECONDS TO EMIT FUNCTION
			searchit: _.debounce(() =>{
				Fire.$emit('searching');
			},500),
			getResults(page = 1) {
				axios.get('api/user?page=' + page)
				.then(response => {
					this.users = response.data;
				});
			},
			updateUser(id){
				this.$Progress.start();
				this.form.put('api/user/'+this.form.id)
				.then(() => {
					$('#AddNew').modal('hide');
					Swal.fire(
					  'Updated!',
					  'Your file has been updated.',
					  'success'
					)
					this.$Progress.finish();
					Fire.$emit('AfterCreate');
				})
				.catch(() => {
					this.$Progress.fail();
				})
			},
			NewModal(){
				this.editmode = false;
				this.form.reset();
				$('#AddNew').modal('show');
			},
			EditModal(user){
				this.editmode = true;
				this.form.reset();
				$('#AddNew').modal('show');
				this.form.fill(user);
			},
			deleteUser(id){
				Swal.fire({
				  title: 'Are you sure?',
				  text: "You won't be able to revert this!",
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				  if (result.value) {
					  this.form.delete('api/user/'+id).then(()=>{
							Swal.fire(
							  'Deleted!',
							  'Your file has been deleted.',
							  'success'
							)
							Fire.$emit('AfterCreate');
					  }).catch(()=>{
						Swal.fire("Failed","There was something wrong.","warning");
					  });
				  }
				})
			},
			loadUsers(){
				if(this.$gate.isAdmin()){
					axios.get("api/user").then(({data}) => (this.users = data));
				}
			},
			createUser(){
				this.$Progress.start();

				this.form.post('api/user')
				.then(() => {
					Fire.$emit('AfterCreate');
					$('#AddNew').modal('hide');
					this.form.reset();
					Swal.fire({
					  position: 'top-end',
					  type: 'success',
					  title: 'User has been added',
					  showConfirmButton: false,
					  timer: 3000
					})
					this.$Progress.finish();
				})
				.catch(() => {

				});
			}
		},
		created() {
			Fire.$on('searching',() => {
				let query = this.search;
				axios.get('api/findUser?q=' + query)
				.then((data) => {
					this.users = data.data
				})
				.catch(() => {

				})
			})
			this.loadUsers();
			Fire.$on('AfterCreate',() => {
			   this.loadUsers();
			});
		}
	}
</script>
